<?xml version="1.0" encoding="utf-8"?>
<config>
<target name="Freematics ONE+" board="esp32 esp32_16m" monitor_baudrate="115200">
  <define name="Enable OBD-II" type="bool" const="ENABLE_OBD" default="true"/>
  <define name="Enable Motion Sensor" type="bool" const="ENABLE_MEMS" default="true"/>
  <define name="GNSS">
    <option name="None" const="GNSS=GNSS_NONE"/>
    <option name="Standalone GNSS" const="GNSS=GNSS_STANDALONE" default="true"/>
    <option name="Cellular GNSS" const="GNSS=GNSS_CELLULAR"/>
  </define>
  <define name="Storage">
    <option name="None" const="STORAGE=STORAGE_NONE"/>
    <option name="SPIFFS" const="STORAGE=STORAGE_SPIFFS"/>
    <option name="MicroSD" const="STORAGE=STORAGE_SD" default="true"/>
  </define>
  <define name="External Sensors">
    <option name="None" const="LOG_EXT_SENSORS=0"/>
    <option name="Digital Input" const="LOG_EXT_SENSORS=1"/>
    <option name="Analog Input" const="LOG_EXT_SENSORS=2"/>
  </define>
  <define name="WiFi AP &amp; HTTP Server" const="ENABLE_HTTPD" type="bool"/>
  <define name="Networking">
    <option name="WiFi" const="NET_DEVICE=NET_WIFI"/>
    <option name="WiFi Mesh" const="NET_DEVICE=NET_WIFI_MESH"/>
    <option name="GSM/GPRS (SIM800)" const="NET_DEVICE=NET_SIM800"/>
    <option name="3G WCDMA (SIM5360)" const="NET_DEVICE=NET_SIM5360"/>
    <option name="4G LTE (SIM7600)" const="NET_DEVICE=NET_SIM7600" default="true"/>
  </define>
  <define name="WiFi SSID" const="WIFI_SSID" type="string" default="SSID" dep="NET_WIFI"/>
  <define name="WiFi Password" const="WIFI_PASSWORD" type="string" default="PASSWORD" dep="NET_WIFI"/>
  <define name="Cellular Network APN" const="CELL_APN" type="string" dep="NET_SIM7600 NET_SIM5360 NET_SIM800"/>
  <define name="Server Host" const="SERVER_HOST" type="string" default="hub.freematics.com"/>
  <define name="Server Port (0 for auto)" const="SERVER_PORT" type="number" default="0"/>
  <define name="Transport Protocol">
    <option name="UDP" const="SERVER_PROTOCOL=PROTOCOL_UDP"/>
    <option name="HTTPS" const="SERVER_PROTOCOL=PROTOCOL_HTTPS"/>
  </define>
</target>
</config>
