<?xml version="1.0" encoding="utf-8"?>
<config>
<target name="Freematics ONE+" board="esp32">
  <define name="Enable OBD-II" type="bool" const="ENABLE_OBD" default="true"/>
  <define name="Enable GPS" type="bool" const="ENABLE_GPS" default="true"/>
  <define name="Enable BLE" type="bool" const="ENABLE_BLE" default="true"/>
  <define name="Motion Sensor">
    <option name="Disabled" const="MEMS_MODE=MEMS_DISABLED"/>
    <option name="Accelerometer" const="MEMS_MODE=MEMS_ACC" default="true"/>
    <option name="9-DOF" const="MEMS_MODE=MEMS_9DOF"/>
    <option name="DMP" const="MEMS_MODE=MEMS_DMP"/>
  </define>
  <define name="Networking">
    <option name="BLE" const="NET_DEVICE=NET_BLE"/>
    <option name="WIFI" const="NET_DEVICE=NET_WIFI" default="true"/>
    <option name="GSM/GPRS (SIM800)" const="NET_DEVICE=NET_SIM800"/>
    <option name="WCDMA/GSM (SIM5360)" const="NET_DEVICE=NET_SIM5360"/>
  </define>
  <define name="Storage">
    <option name="None" const="STORAGE_TYPE=STORAGE_NONE"/>
    <option name="MicroSD" const="STORAGE_TYPE=STORAGE_SD"/>
    <option name="Flash" const="STORAGE_TYPE=STORAGE_FLASH"/>
  </define>
  <define name="WIFI SSID" const="WIFI_SSID" type="string" default="FREEMATICS" dep="NET_WIFI"/>
  <define name="WIFI Password" const="WIFI_PASSWORD" type="string" default="PASSWORD" dep="NET_WIFI"/>
  <define name="Cellular Network APN" const="CELL_APN" type="string" default="connect" dep="NET_SIM5360 NET_SIM800"/>
  <define name="Transmission Interval (ms)" const="DATA_SENDING_INTERVAL" type="number" default="1000"/>
  <define name="Server Host" const="SERVER_HOST" type="string" default="hub.freematics.com"/>
  <define name="Server Port" const="SERVER_PORT" type="number" default="8081"/>
  <define name="Device ID" const="DEVICE_ID" type="string" default="Freematics Device"/>
</target>
</config>
