<?xml version="1.0" encoding="utf-8"?>
<config>
<target name="Freematics ONE/ONE+" board="esp32 esp32_16m" monitor_baudrate="115200" compiler_opts="-DHAVE_CONFIG">
  <define name="Enable OBD-II">
    <option name="No" const="USE_OBD=OBD_NONE"/>
    <option name="OBD-to-UART" const="USE_OBD=OBD_UART"/>
    <option name="OBD-to-SPI" const="USE_OBD=OBD_SPI" default="true"/>
  </define>
  <define name="Enable GPS" type="bool" const="USE_GPS" default="true"/>
  <define name="Motion Sensor">
    <option name="Disabled" const="MEMS_MODE=MEMS_DISABLED"/>
    <option name="Accelerometer" const="MEMS_MODE=MEMS_ACC"/>
    <option name="9-DOF" const="MEMS_MODE=MEMS_9DOF" default="true"/>
    <option name="DMP" const="MEMS_MODE=MEMS_DMP"/>
  </define>
  <define name="Enable Quaternion" type="bool" const="ENABLE_ORIENTATION" default="false"/>
  <define name="Storage">
    <option name="None" const="STORAGE=STORAGE_NONE"/>
    <option name="Flash (SPIFFS)" const="STORAGE=STORAGE_SPIFFS" default="true"/>
    <option name="MicroSD" const="STORAGE=STORAGE_SD"/>
  </define>
  <define name="Data Output via Serial" type="bool" const="ENABLE_SERIAL_OUT"/>
  <define name="Enable HTTP Server" type="bool" const="ENABLE_HTTPD" default="true"/>
  <define name="Enable Soft AP" type="bool" const="ENABLE_WIFI_AP" default="true" dep="ENABLE_HTTPD=1"/>
  <define name="Soft AP SSID" type="string" const="WIFI_AP_SSID" default="DATALOGGER" dep="ENABLE_WIFI_AP=1"/>
  <define name="Soft AP Password" type="string" const="WIFI_AP_PASSWORD" default="PASSWORD" dep="ENABLE_WIFI_AP=1"/>
  <define name="Connect to a WIFI Hotspot" type="bool" const="ENABLE_WIFI_STATION" dep="ENABLE_HTTPD=1"/>
  <define name="WIFI Hotspot SSID" type="string" const="WIFI_SSID" default="HOTSPOT" dep="ENABLE_WIFI_STATION=1"/>
  <define name="WIFI Hotspot Password" type="string" const="WIFI_PASSWORD" default="PASSWORD" dep="ENABLE_WIFI_STATION=1"/>
</target>
</config>
