<?xml version="1.0" encoding="utf-8"?>
<config>
<target board="esp32 esp32c3" monitor_baudrate="115200" compiler_opts="-DHAVE_CONFIG">
  <define name="GNSS Mode">
    <option name="Disabled" const="USE_GNSS=0"/>
    <option name="Standalone GNSS" const="USE_GNSS=1" default="true"/>
    <option name="SIM7600 GNSS" const="USE_GNSS=2"/>
    <option name="SIM7070 GNSS" const="USE_GNSS=3"/>
  </define>
  <define name="Enable OBD-II" type="bool" const="USE_OBD" default="true"/>
  <define name="Enable Motion Sensor" type="bool" const="USE_MEMS" default="true"/>
  <define name="Enable Quaternion" type="bool" const="ENABLE_ORIENTATION" default="false"/>
  <define name="Storage">
    <option name="None" const="STORAGE=STORAGE_NONE"/>
    <option name="Flash (SPIFFS)" const="STORAGE=STORAGE_SPIFFS"/>
    <option name="MicroSD" const="STORAGE=STORAGE_SD" default="true"/>
  </define>
  <define name="Data Output via Serial" type="bool" const="ENABLE_SERIAL_OUT"/>
  <define name="Enable HTTP Server" type="bool" const="ENABLE_HTTPD"/>
  <define name="Enable Soft AP" type="bool" const="ENABLE_WIFI_AP" dep="ENABLE_HTTPD=1"/>
  <define name="Soft AP SSID" type="string" const="WIFI_AP_SSID" default="DATALOGGER" dep="ENABLE_WIFI_AP=1"/>
  <define name="Soft AP Password" type="string" const="WIFI_AP_PASSWORD" default="PASSWORD" dep="ENABLE_WIFI_AP=1"/>
  <define name="Connect to a WIFI Hotspot" type="bool" const="ENABLE_WIFI_STATION" dep="ENABLE_HTTPD=1"/>
  <define name="WIFI Hotspot SSID" type="string" const="WIFI_SSID" default="HOTSPOT" dep="ENABLE_WIFI_STATION=1"/>
  <define name="WIFI Hotspot Password" type="string" const="WIFI_PASSWORD" default="PASSWORD" dep="ENABLE_WIFI_STATION=1"/>
</target>
</config>
