<?xml version="1.0" encoding="utf-8"?>
<config>
<target board="esp32 esp32_16m" monitor_baudrate="115200" compiler_opts="-DHAVE_CONFIG">
  <define name="Storage">
    <option name="None" const="STORAGE=STORAGE_NONE"/>
    <option name="Flash (SPIFFS)" const="STORAGE=STORAGE_SPIFFS" default="true"/>
    <option name="MicroSD" const="STORAGE=STORAGE_SD"/>
  </define>
  <define name="Enable Soft AP" type="bool" const="ENABLE_WIFI_AP" default="true"/>
  <define name="Soft AP SSID" type="string" const="WIFI_AP_SSID" default="GPSLOGGER" dep="ENABLE_WIFI_AP=1"/>
  <define name="Soft AP Password" type="string" const="WIFI_AP_PASSWORD" default="PASSWORD" dep="ENABLE_WIFI_AP=1"/>
  <define name="Connect to a WiFi Hotspot" type="bool" const="ENABLE_WIFI_STATION"/>
  <define name="WIFI Hotspot SSID" type="string" const="WIFI_SSID" default="HOTSPOT" dep="ENABLE_WIFI_STATION=1"/>
  <define name="WIFI Hotspot Password" type="string" const="WIFI_PASSWORD" default="PASSWORD" dep="ENABLE_WIFI_STATION=1"/>
  <define name="Enable Traccar Client" type="bool" const="ENABLE_TRACCAR_CLIENT" dep="ENABLE_WIFI_STATION=1"/>
  <define name="Traccar Server Host" type="string" const="TRACCAR_HOST" default="YOUR_TRACCAR_HOST" dep="ENABLE_WIFI_STATION=1"/>
  <define name="Traccar Device ID" type="string" const="TRACCAR_DEV_ID" default="YOUR_DEVICE_ID" dep="ENABLE_WIFI_STATION=1"/>
  <define name="Enable built-in HTTP Server" type="bool" const="ENABLE_HTTPD" default="true"/>
  <define name="Enable OLED Display" type="bool" const="ENABLE_DISPLAY" default="true"/>
</target>
</config>
